@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* tells the browser to account for any border or padding specified for an elements height and width */
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
  /* background-color: hsl(236, 70%, 17%); */
  /* background-color: hsl(236, 69%, 14%); */
  background-color: hsl(235, 16%, 14%);
}

/* Images */
img {
  max-width: 100%; /* defines max-width of an element */
}
.bg-stars {
  position: absolute; /* the element is positioned relative to its first positioned ancestor*/
}
.pattern-hills {
  position: absolute;
  bottom: 0; /* effects the vertical position of of a positioned element*/
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.container h1 {
  margin-bottom: 125px;
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 200;
}

/* Countdown */
.countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.countdown div {
  margin: 10px;
}
.countdown p {
  padding: 20px;
  font-size: 36px;
  background-color: hsl(236, 21%, 26%);
  color: hsl(345, 95%, 68%);
  border-radius: 5px;
}
.countdown h3 {
  margin-top: 25px;
  color: hsl(237, 18%, 59%);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Social */
ul {
  list-style-type: none;
}
.social {
  position: absolute;
  bottom: 5%;
  left: 50%; /* effects the horizontal position of of a positioned element*/
  transform: translateX(-50%); /* moves elements to the left of the x-axis */
  z-index: 100;
}
.social ul {
  display: flex;
}
.social ul li {
  width: 25px;
  margin: 0 20px; /* top/bottom left/rightpx */
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
  .bg-stars img,
  .pattern-hills img {
    width: 3200px;
  }
}
