@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* tells the browser to account for any border or padding specified for an elements height and width */
}

body {
  font-family: "Red Hat Text", sans-serif;
  /* background-color: hsl(236, 70%, 17%); */
  /* background-color: hsl(236, 69%, 14%); */
  background-color: hsl(235, 16%, 14%);
}

img {
  max-width: 100%; /* defines max-width of an element */
}
.bg-stars {
  position: absolute; /* the element is positioned relative to its first positioned ancestor*/
}
.pattern-hills {
  position: absolute;
  bottom: 0; /* effects the vertical position of of a positioned element*/
}

ul {
  list-style-type: none;
}
.social {
  position: absolute;
  bottom: 25%;
  left: 50%; /* effects the horizontal position of of a positioned element*/
  transform: translateX(-50%); /* moves elements to the left of the x-axis */
  z-index: 100;
}
.social ul {
  display: flex;
}
.social ul li {
  width: 25px;
  margin: 0 20px; /* top/bottom left/rightpx */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1600px) {
  .bg-stars img,
  .pattern-hills img {
    width: 3200px;
  }
}
